---
title: Home
description: Internet Home of John M. Wargo
categories:
  - John M. Wargo
  - John Wargo
  - johnwargo
layout: home
---

<h1>This is a test</h1>
<p>Boudin brisket meatball flank corned beef turkey. Fatback chislic beef cupim meatloaf drumstick brisket buffalo turkey. Fatback tenderloin pancetta filet mignon rump chicken. Chislic flank alcatra drumstick biltong short loin picanha ground round.</p>